{% extends 'article/base.html' %}



    {% block header %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('https://images.pexels.com/photos/1834400/pexels-photo-1834400.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
                <a class="navbar-brand" style="color:white;font-weight:bold" href="{% url 'index' %}"><h1>My-Blog</h1></a>
              <span class="subheading">A Blog About Things</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    {% endblock %}
{% block content %}
    {% for article in object_list %}


          <div class="post-preview">
            <a href="{% url 'detail' article.id %}">
              <h2 class="post-title" style="color:black">
                {{ article.title }}
              </h2>
            </a>
              <h3 class="post-subtitle" style="font-size:8pt;color:grey;width:450px;">
                  {{ article.text|slice:":160" }}...</br>
              </h3>

            <p class="post-meta">Posted by
              <a>{{ article.author }}</a>
              on {{ article.added|date:"M d 'y" }} at {{ article.added|date:'G:i' }}</p>
          </div>

    {% endfor %}
          <!-- Pager -->
        {% if page_obj.has_next %}
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="?page={{ page_obj.next_page_number }}">Older Posts &rarr;</a>
        {% else %}

        {% endif %}

         {% if page_obj.has_previous %}
              <a class="btn btn-primary float-left" href="?page={{ page_obj.previous_page_number }}">← Newest Posts</a>
         {% else %}


         {% endif %}
          </div>


{% endblock %}