{% extends 'article/base.html' %}

{% block title %}Home page{% endblock %}

{% block content %}
    {% for article in object_list %}


          <div class="post-preview">
            <a href="{% url 'detail' article.id %}">
              <h2 class="post-title" style="color:black">
                {{ article.title }}
              </h2>
            </a>
              <h3 class="post-subtitle" style="font-size:8pt;color:grey;width:450px;">
                  {{ article.text|slice:":160" }}...</br>
              </h3>

            <p class="post-meta">Posted by
              <a href="#">Author</a>
              on {{ article.added|date:"M d 'y" }} at {{ article.added|date:'G:i' }}</p>
          </div>

    {% endfor %}
          <!-- Pager -->
        {% if page_obj.has_next %}
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="?page={{ page_obj.next_page_number }}">Older Posts &rarr;</a>
        {% else %}

        {% endif %}

         {% if page_obj.has_previous %}

         {% else %}


         {% endif %}
          </div>


{% endblock %}